@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo+Mono:wght@100;200;300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --fonte01: Verdana, Tahoma, sans-serif;
    --fonte02: 'Chivo Mono', monospace;
    --fonte03: 'Secular One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte01);
}

header {
    font-family: var(--fonte03);
    text-align: center;
    background-color: black;
    color: white;
}

header h1 {
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 5vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte02);
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 2.3vw;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
    background-size: cover;
    background-attachment: fixed;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.541);
    display: inline-block;
    padding: 7px;
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
